{% load staticfiles %}
<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="icon" type="image/png" href="http://www.hereisfree.com/content1//imguploads/Image/cjbc/zcool/20080827/1219850670.jpg"/>
    <title>GW - Connexion</title>

	<!-- Chargement de feuille de style.cc -->
	<link href="../static/css/style.css" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="{% static '/js/Game.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body id="themeChange" class="redTheme" onload="themeChange2()">

	<!-- interface basique -->
	{% include "partieSpam.html" %}

    <div class="boxConnexion">
        <h3 class="title">Se Connecter</h3>
      
		<form action="{% url 'connexion' %}" method="post">
			<div>
       			{% if error %}
					<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
	  			{% endif %}
        		{% if user.is_authenticated %}
					Vous êtes connecté, {{ user.username }} !
					
				{% else %}
        			<form action= ""  method="post">
    					{% csrf_token %}
    					{{ form.as_p }}
   					 	<input class="linkButton" type="submit" value="Connexion" />
					</form>
				{% endif %}
			</div>

  			<div>
  				<div>
    				<label class="labelClassic">
      					<br/><input type="checkbox"name="creer" id="creer"><label class="labelClassic" for="creer" class="textClassic"> Se souvenir de moi</label>
    				</label>
  				</div>
				
  				<br/><a href="{% url 'inscription' %}" class="linkButton" > Creer un compte</a>
				<br/>
  			
			</div>
        </form>
      
    </div>  
  </body>
</html>
