{% load staticfiles %}
<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Chargement de feuille de style.cc et du js des themes-->
		<link href="../static/css/style.css" type="text/css" rel="stylesheet"/>
		<script type="text/javascript" src="{% static '/js/theme.js' %}"></script>

		<link rel="icon" type="image/png" href="http://www.hereisfree.com/content1//imguploads/Image/cjbc/zcool/20080827/1219850670.jpg"/>
		<title>GW - Connexion</title>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body id="themeChange" class="redTheme" onload="loadTheme();">

	<!-- interface basique -->
	{% include "partieSpam.html" %}

    <div id="boxConnexion" class="boxConnexionRed">
        <h3 class="title">Se Connecter</h3>
      
		<form action="{% url 'connexion' %}" method="post">
			<div>
       			{% if error %}
					<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
	  			{% endif %}
        		{% if user.is_authenticated %}
					<p class="textClassic">Bonjour {{ user.username }}, Comment allez vous aujourd'hui ? <br/>
					<br/>Losque je serais implémenté, si mes feignasses de dev se motivent, je vous annoncerais les dernières nouvelles du sites Guild Web. 
					En attendant, je vous souhaite de passé une agréable visite !</p>
				{% else %}
        			<form action= ""  method="post">
    					{% csrf_token %}
    					{{ form.as_p }}
   					 	<input class="linkButton" type="submit" value="Connexion" />
					</form>
				


  			<div>
  				<div>
    				<label class="labelClassic">
      					<br/><input type="checkbox"name="creer" id="creer"><label class="labelClassic" for="creer" class="textClassic"> Se souvenir de moi</label>
    				</label>
  				</div>
				
  				<br/><a href="{% url 'inscription' %}" class="linkButton" > Creer un compte</a>
				<br/>
  				{% endif %}

			</div>
        </form>
      
    </div>  
  </body>
</html>
