{% load staticfiles %}
<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Chargement de feuille de style.cc et du js des themes-->
		<link href="../static/css/style.css" type="text/css" rel="stylesheet"/>
		<script type="text/javascript" src="{% static '/js/theme.js' %}"></script>

		<link rel="icon" type="image/png" href="http://www.hereisfree.com/content1//imguploads/Image/cjbc/zcool/20080827/1219850670.jpg"/>
		<title>GW - Contact</title>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
		
	<body id="themeChange" class="redTheme" onload="loadTheme();">
		{% include "partieSpam.html" %}
		<div id="boxConnexion" class="boxConnexionRed">
			<h2> Nous contacter... </h2><br/>
			<p class="textClassic">
				Je commencerais l'introduction des memnbre par une citation d'Abraham Lincoln qui disais "Le probleme avec les citations sur internet est qu'il est difficile de vérifier leur authenticité". Ce sont sur ces mots que je présente...
			<p/>	
	</body>
</html>


