<center>
	<div id="banniereTitre" class="banniereTitreRed">
		<center>
			<h1>Guild Web</h1>
		</center>
	</div>
</center>
<br/>
<ul id="menu" class="menuRed">
	<li><a class="linkMenu" href="{% url 'accueil' %}">Accueil</a></li>
	{% if user.is_authenticated %}
		<li><a class="linkMenu" href="{% url 'deconnexion' %}">Deconnection</a></li>
		<li><a class="linkMenu" href="{% url 'game' %}">Jeu</a></li>
	{% else %}
    	<li><a class="linkMenu" href="{% url 'connexion' %}">Connection</a></li>
		<li><a class="linkMenu" href="{% url 'inscription' %}">Inscription</a></li>
	{% endif %}
	<li><a class="linkMenu" href="{% url 'contact' %}">Contact</a></li>
	<li><a class="linkMenu" href="" onclick="themeChange();">Changer Theme</a></li>
	{% if user.is_authenticated %}
		<p  class="textClassic" style="text-align: center ;"> Vous etes connecte {{ user.username }} !</p>
	{% else %}
		<p  class="textClassic" style="text-align: center ;"> Vous n'etes pas connecte...</p>
	{% endif %}
</ul>
