h1{
	font-size: 50px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration:underline;
	text-align: center;
	text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}

h2{
	font-size: 20px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration:underline;
	text-align: center;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
}

h3.title{
	font-size: 25px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration:underline;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;;
}

label{
	display: block;
	width: 25%;
	float: left;
	
	font-size: 15px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
}

label.labelClassic{
	display: inline;
	width: 50%;
	float: none;

	font-size: 15px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
}

a.linkClassic{
	font-size: 20px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
}

a.linkMenu:hover {
	/*background-color: #660000;*/
	background-color: rgba(0,0,0,0.3);
	transform:scale(1.1);
} 

ul.menuBlue{
	list-style-type: none;
	margin: auto; 
	padding: auto; 
	overflow: hidden; 
	background-color: lightblue; 
	position: fixed; 
	top: 0; 
	width: 100%;
	box-shadow:0px 5px 1px #666666;
	border-radius: 0px;
}

ul.menuGreen{
	list-style-type: none;
	margin: auto; 
	padding: auto; 
	overflow: hidden; 
	background-color: green; 
	position: fixed; 
	top: 0; 
	width: 100%;
	box-shadow:0px 5px 1px #666666;
	border-radius: 0px;
}

ul.menuRed{
	list-style-type: none;
	margin: auto; 
	padding: auto; 
	overflow: hidden; 
	background-color: #990000; 
	position: fixed; 
	top: 0; 
	width: 100%;
	box-shadow:0px 5px 1px #666666;
	border-radius: 0px;
}

li { 
	float: left;
} 

li a {
	transition: all .2s ease-int-out;
	display: block;
	padding: 16px;
	font-size: 15px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-decoration:none;
	text-align: center;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
} 

body.greenTheme{
	margin: auto;
	padding: auto;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	background-image : url("https://s-media-cache-ak0.pinimg.com/originals/9b/30/fa/9b30fa787f27822f6d009562d6f3088d.png");
}

body.blueTheme{
	margin: auto;
	padding: auto;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	background-image : url("http://wallup.net/wp-content/uploads/2016/04/10/318962-Monster_Hunter-heroic_fantasy-dragon-snow.png");
}

body.redTheme{
	margin: auto;
	padding: auto;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
	background-image : url("http://cdn.wallpapersafari.com/36/87/ucHZ6q.jpg");
	
	/* fond d'écran RGB :
	http://cdn.wallpapersafari.com/36/87/ucHZ6q.jpg
	https://s-media-cache-ak0.pinimg.com/originals/9b/30/fa/9b30fa787f27822f6d009562d6f3088d.png
	http://wallup.net/wp-content/uploads/2016/04/10/318962-Monster_Hunter-heroic_fantasy-dragon-snow.png
	*/

}

.boxConnexionBlue{
	margin-left: 25%;
	padding: 5px 0px 10px 20px;  /*order : top right bottom left*/
	width: 50%;
	height: auto;
	border: 1px;
	border-radius: 10px;
	background-color: rgba(173,216,230,0.8);
	box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

.boxConnexionGreen{
	margin-left: 25%;
	padding: 5px 0px 10px 20px;  /*order : top right bottom left*/
	width: 50%;
	height: auto;
	border: 1px;
	border-radius: 10px;
	background-color: rgba(0,128,0,0.8);
	box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

.boxConnexionRed{
	margin-left: 25%;
	padding: 5px 0px 10px 20px;  /*order : top right bottom left*/
	width: 50%;
	height: auto;
	border: 1px;
	border-radius: 10px;
	background-color: rgba(99,0,0,0.8);
	box-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

/*couleur RGB:
	#990000 = 99,0,0
	green = 0,128,0
	lightblue = 173,216,230
	*/

.banniereTitreBlue{
	margin-top: 75px;
	background-color: lightblue;
	width: 60%;
	height: 80px; 
	box-shadow: 5px 5px 10px #000000, 5px -5px 10px #000000, -5px 5px 10px #000000, -5px -5px 10px #000000;
	border-radius: 10px;
}

.banniereTitreGreen{
	margin-top: 75px;
	background-color: green;
	width: 60%;
	height: 80px; 
	box-shadow: 5px 5px 10px #000000, 5px -5px 10px #000000, -5px 5px 10px #000000, -5px -5px 10px #000000;
	border-radius: 10px;
}

.banniereTitreRed{
	margin-top: 75px;
	background-color: #990000;
	width: 60%;
	height: 80px; 
	box-shadow: 5px 5px 10px #000000, 5px -5px 10px #000000, -5px 5px 10px #000000, -5px -5px 10px #000000;
	border-radius: 10px;
	
	/*couleur RGB:
	#990000 = 99,0,0
	green = 0,128,0
	lightblue = 173,216,230
	*/
}

.banniereMenu{
	background-color: #990000;
	width: 80%;
	height: 75px;
	box-shadow: 5px 5px 10px #000000, 5px -5px 10px #000000, -5px 5px 10px #000000, -5px -5px 10px #000000;
	border-radius: 10px;
}

.textClassic{
	font-size: 18px;
	color: yellow;
	font-family: Comic Sans MS, Times New Roman; 
	font-weight: bold;
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;
}

.linkButton{
	color: yellow;
	text-decoration: none;
	font-size: 16px;
	font-family: Comic Sans MS, Times New Roman; 
	text-shadow: 2px 2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, -2px -2px 2px #000000;

	width: 30%;
	height: auto;
	border: 1px;
	border-radius: 10px;
	background-color: #990000;
	box-shadow: #000000 2px 2px 1px, #000000 -2px 2px 1px, #000000 -2px -2px 1px, #000000 2px -2px 1px;
}

.linkButton:hover {
	color: white;
	font-size: 16px;

	background-color: red;
	box-shadow: white 2px 2px 1px, white -2px 2px 1px, white -2px -2px 1px, white 2px -2px 1px;
} 


/* Ajouter le CSS de la page de jeu ici */

#myCanvas{
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;

	outline:3px solid #d3d3d3;
}

.gameDiv{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	background-color: rgba(99,0,0,0.8);s
	border: 1px;
	box-shadow: 2px 2px 1px #000000, 2px -2px 1px #000000, -2px 2px 1px #000000, -2px -2px 1px #000000;
	border-radius: 10px;
}
